<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>

		<!--Libraries-->
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/d3.v3.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		
		<script type="text/javascript" src="/js/person.js"></script>
		<script type="text/javascript" src="/js/connection.js"></script>
		<script type="text/javascript" src="/js/world_manager.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
	</head>
	<body>
		<div id="test"></div>
	</body>
</html>