<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>
		
		<link rel="stylesheet" type="text/css" href="/css/index.css"/>

		<!--Libraries-->
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/d3.v3.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		
		<script type="text/javascript" src="/js/person.js"></script>

		<script type="text/javascript" src="/js/map.js"></script>
		<script type="text/javascript" src="/js/canvas.js"></script>
		<script type="text/javascript" src="/js/controller.js"></script>
		
		<script type="text/javascript" src="/js/main.js"></script>
	</head>
	<body>
		<div id="fb-root"></div>
		
		<svg id="svg"></svg>
		<canvas id="canvas"></canvas>
	</body>
</html>
