<!DOCTYPE html>
<html>
	<head>
		<title>Redirect</title>
		
		<script type="text/javascript">
		do
		{
			var accessToken = location.href.match(/#access_token=(.*)&/);
			
			if(accessToken === null)
			{
				var redirect_url = "https://graph.facebook.com/oauth/authorize?type=user_agent&client_id=413975995318982&redirect_uri=" + location.href;
				location.href = redirect_url;
				break;
			}
			else
			{
				accessToken = accessToken[1];
			}
		
			location.href = "?access_token=" + accessToken;
		} while(0);
		
		</script>
		
	</head>
	<body>
	</body>
</html>