*
{
	margin : 0px;
	padding : 0px;
}

.node
{
  stroke: #fff;
  stroke-width: 1.5px;
}

.link
{
  stroke: #999;
  stroke-opacity: .6;
}

#svg
{
	display : none;
}
#canvas
{
	border : 1px solid black;
	margin : auto;
	
	display : none;
}
